{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg">
    <a id="title" class="navbar-brand" href="/home">Blog App</a>
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mobile-button-fix"></span>
    </button>

{{!-- Navbar List Items --}}
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a id="dashboard" class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a id="login-start" class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Blog-App SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form id="register-form" action="#" method="post">
					<input id="register-username" class="text" type="text" name="Username" placeholder="Username" required="">
					<input id="register-email" class="text email" type="email" name="email" placeholder="Email" required="">
					<input id="register-password" class="text" type="password" name="password" placeholder="Password" required="">
					<input id="register-confirm-password" class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
					<div class="wthree-text">
						{{!-- <label class="anim">
							<input id="register-checkbox" type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label> --}}
						<div class="clear"> </div>
					</div>
					<input id="register-input-button" type="submit" value="SIGNUP">
				</form>
				<p>Already have an account? <a href="/login"> Login Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>



