{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg">
    <a id="title" class="navbar-brand" href="/">Blog App</a>
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

{{!-- Navbar List Items --}}
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<h1>You must be signed in first.</h1>
<br>
<center>
<span id="signup-alert">Don't have an account?</span> <a id="signup" href="/register">Sign up here</a>
</center>
<br>
<br>
<br>
{{!-- LOGIN Process --}}

<div class="container login-show">
    <div class="row d-flex justify-content-center align-items-center flex-column login-row">
        <div class="col mb-5 mt-2"><h1>Login</h1></div>
        <form id="login-form">
            Username:
            <div class="col"><input id="login-username" class="mb-4" type="text"></div>
            Password:
            <div class="col d-flex"><input id="login-password" class="mb-3" type="password"></div>
            <button id="login-button">Login</button>
        </form>
        <br>
        <center>
<span id="signup-alert">Don't have an account?</span> <a id="signup" href="/register">Sign up here</a>
</center>
    </div>
</div>